* {
    margin: 0%;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*  navbar logo */
.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(amazon-logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    padding: 3px;
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/* navbar address */

.add-first {
    color: #cccccc;
    font-size: 0.80rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 5px;
}

.address-icon {
    display: flex;
}

/* navbar search */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 850px;
    height: 40px;
    border-radius: 5px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(232, 179, 20);
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
}

/* navbar signin & navbar return and order */

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.90rem;
    font-weight: 700;
}

/* navbar cart */

.nav-cart i{
    font-size: 2rem;
}

.nav-cart {
    font-size: 0.90rem;
    font-weight: 700;
}

/* panal */

.panel {
    height: 40px;
    width: 100%;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panal-option {
    width: 80%;
}

.panal-option p {
    display: inline;
    margin-left: 15px;
}

.panal-deals {
    font-size: 1rem;
    font-weight: 700;
}

/*  hero section */

.hero-section {
    height: 320px;
    background-image: url(amazon-hero-image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: white;
    color: black;
    height: 40px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.hero-message a{
    text-decoration: none;
}

/*  box model in shop section */

.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(228, 216, 216);
}

.box {
    height:390px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
}

.box-image {
    height: 320px;
    background-image: url(box1-image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 20px;
    margin-right: 20px;
}

.box-content h2 {
    font-size: 1.3rem;
}

.box-content a {
    text-decoration: none;
    color: rgb(91, 137, 228);
    font-size: 0.80rem;
}

/* box 2 */

.grid-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 0.7rem;
}

.content {
    text-align: center;
    padding: 10px;
}

.content p {
    font-size: 0.70rem;
}

.content img {
    width: 100%;
    height: 120px;
    border-radius: 5px;
}

/* shop section 2 */


.gap {
    height: 30px; 
    background-color: rgb(228, 216, 216); 
  }

  .box-image2 {
    height: 320px;
    background-image: url(full-content2.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-image3 {
    height: 320px;
    background-image: url(full-content3.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
